<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>查询</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="../dist/query.min.css?v7.30456" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/4.1.4/highcharts.js"></script>
    <script type="text/javascript" src="../dist/query.min.js"></script>
    <script type="text/javascript" src="../dist/template.min.js"></script>
    <link href="../dist/mobiscroll.custom-2.16.1.min.css" rel="stylesheet" type="text/css" />
    <script src="../dist/mobiscroll.custom-2.16.1.min.js" type="text/javascript"></script>
    <script>
        document.addEventListener('touchstart', function(){}, false);
    </script>

</head>
<body>
<div class="loading"></div>
<div id="query">
    <section class="query-box">
        <div class="select-layout">
            <label class="s-label">地域选择：</label>
            <div class="select-box">
                <div class="select-val" id="city">全部</div>
            </div>
            <div class="select-box">
                <div class="select-val" id="area">全部</div>
            </div>
        </div>
        <div class="select-layout">
            <label class="s-label">起止日期：</label>
            <div class="select-box">
                <input id="startTime" class="input-val" readonly disabled="disabled" type="text"  />
            </div>
            <div class="select-box">
                <input id="endTime" class="input-val" readonly disabled="disabled" type="text"  />
            </div>
        </div>
        <div class="select-layout btn-layout">
            <div id="weekbtn" class="btn-select active">一周内</div>
            <div id="monthbtn" class="btn-select">一月内</div>
        </div>
        <div class="form-submit">
            <button class="btn btn-sub">查询</button>
        </div>
    </section>

    <section class="chart-layout">
        <!--<menu id="tabheader" class="header tab-header">-->
            <!--<div>-->
                <!--<span class="active"></span>-->
            <!--</div>-->
            <!--<div>-->
                <!--<span></span>-->
            <!--</div>-->
        <!--</menu>-->
        <!--<div class="tab-cont">-->
            <!--<div class="cont">-->
                <!--<div class="chart" style="height:280px; overflow:hidden;">-->
                    <!--<div id="chart1" style="min-width:320px; width:100%; height: 320px; overflow-x:scroll"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="cont" style="display:none">-->
                <!--<div class="chart" style="height:280px; overflow:hidden;">-->
                    <!--<div id="chart2" style="min-width:320px; width:100%; height: 320px"></div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="chart-detail">-->
            <!--<h2 class="header chart-header">-->
                <!--<span>投注用户明细</span>-->
            <!--</h2>-->
            <!--<div class="body-list">-->
                <!--<ul>-->
                    <!--<li>-->
                        <!--<span>投注日期</span>-->
                        <!--<span>投注用户</span>-->
                        <!--<span>投注金额</span>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<span>投注日期</span>-->
                        <!--<span>投注用户</span>-->
                        <!--<span>投注金额</span>-->
                    <!--</li>-->
                <!--</ul>-->

            <!--</div>-->
        <!--</div>-->
    </section>
</div>

<script id="searchtemp" type="text/html">
    {{ if notFound == 0}}
        <div style="text-align:center"><span>没有相关信息</span></div>
    {{ else }}
        <menu id="tabheader" class="header tab-header">
            {{ if tabheader.count == 1}}
            <div class="chart-header">
                <span class="active">

                    {{ if tabheader.func == 'commissionReport'}}
                        {{ tabheader.name }}查询
                    {{ else }}

                        {{ if tabheader.cmd == '9102' }}
                            {{ tabheader.name }}用户
                        {{ else }}
                            {{ tabheader.name }}代理商
                        {{ /if }}
                    {{ /if }}
                </span>
            </div>
            {{ else }}
            <div>
                <span class="active" >
                    {{ if tabheader.cmd == '9102' }}
                        {{ tabheader.name }}用户
                    {{ else }}
                        {{ tabheader.name }}代理商
                    {{ /if }}
                </span>
            </div>
            <div>
                <span>{{ tabheader.name }}金额</span>
            </div>
            {{ /if }}
        </menu>
        <div class="tab-cont">
            <div class="cont">
                <div class="chart" style="height:280px; overflow:hidden;">
                    <div id="chart1" style="min-width:320px; width:100%; height: 320px; overflow-x:scroll"></div>
                </div>
            </div>
            <div class="cont" style="display:none">
                <div class="chart" style="height:280px; overflow:hidden;">
                    <div id="chart2" style="min-width:320px; width:100%; height: 320px"></div>
                </div>
            </div>
        </div>
        <div class="chart-detail">
            <h2 class="header chart-header">
                {{ if tabheader.count == 1}}
                <span>
                    {{ if tabheader.func == 'commissionReport'}}
                        {{ tabheader.name }}查询
                    {{ else }}
                         {{ if tabheader.cmd == '9102' }}
                            {{ tabheader.name }}用户明细
                        {{ else }}
                            {{ tabheader.name }}代理商明细
                        {{ /if }}
                    {{ /if }}
                </span>
                {{ else }}
                <span>{{ tabheader.name}}查询明细</span>
                {{ /if }}
            </h2>
            <div class="body-list">
                <ul>
                    {{ if tabheader.count == 1 }}
                    <li class="cloumn-two">
                        {{ if tabheader.func == 'commissionReport'}}
                            <span>日期</span>
                            <span>佣金明细</span>
                        {{ else }}
                            <span>注册日期</span>
                            <span>新增用户</span>
                        {{ /if }}
                    </li>
                    {{ each detail as val index}}
                    <li class="cloumn-two"><span>{{ val.date}}</span><span>{{ val.number }}</span></li>
                    {{ /each}}
                    {{ else tabheader.count == 2}}
                    <li>
                        <span>日期</span>
                        <span>{{ func }}用户</span>
                        <span>{{ func }}金额</span>
                    </li>
                    {{ each detail as val index}}
                    <li><span>{{ val.date}}</span><span>{{ val.number }}</span><span>{{ val.price }}</span></li>
                    {{ /each}}
                    {{ /if }}
                </ul>

            </div>
        </div>
    {{ /if }}
</script>

</body>