<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>编辑管理员</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/usercenter.css" />
    <link type="text/css" rel="stylesheet" href="../css/edit-admin.css" />
</head>

<body>
<div class="edit-admin">

    <section>
        <a href="" class="bor-btn">
            <i class="icon icon-addadmin"></i>
            <span>添加管理员</span>
        </a>
    </section>
    <section>
        <dl class="admin-list">
            <dt class="column-box">
                <div>管理员</div>
                <div>描述</div>
                <div>操作</div>
            </dt>
            <dd class="column-box">
                <div class="user-des">
                    <img src="../images/code.jpg" />
                    <p>猴赛雷</p>
                </div>
                <div>主管理员</div>
                <div>
                    <span class="small-bor-btn">移除</span>
                </div>
            </dd>
        </dl>

    </section>

</div>
<div class="dialog">
    <div class="dialog-confirm">
        <header>管理员解除绑定</header>
        <section>
            <dl class="weixin-user">
                <dt>
                    <img src="../images/code.jpg" />
                </dt>
                <dd class="input-box">确定将 <em class="c-red">13131430669</em> 解除绑定？</dd>

            </dl>
        </section>
        <footer>
            <a href="" class="react">取消</a>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>

</body>

</html>