<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>理财知识</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/finance.css" />
</head>

<body>
<div class="finance">
    <div class="list-box user-msg">
        <div class="l-b-left">
            <img src="../images/lottery-logo.png" />
        </div>
        <div class="l-b-right">
            <div class="l-b-des">
                <h2>理财知识</h2>
                <p>微信号：xt23d</p>
            </div>
        </div>
    </div>
    <div class="">
        <ul class="text-list">
            <li>
                <label>活动编号</label>
                <p>2016020100112</p>
            </li>
            <li>
                <label>活动名称</label>
                <p>2016020100112</p>
            </li>
            <li>
                <label>活动描述</label>
                <p>理财大讲堂,每天一堂必修课,祝您创造人生财富</p>
            </li>
            <li>
                <label>活动时间</label>
                <p>   2015年12月24日 0:00:00
                    至  2016年02月01日 23:59:5</p>
            </li>
            <li>
                <label>推广渠道号</label>
                <p>2016020100112</p>
            </li>
            <li>
                <a href="" class="react go-to">
                    <label>查看推广记录</label>
                </a>
            </li>
        </ul>
    </div>
    <div class="finance-btn">
        <a href="" class="btn btn-primary">
            查看详情
        </a>
    </div>
</div>
</body>

</html>