<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>收入查询</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/activity-record.css" />
    <link type="text/css" rel="stylesheet" href="../css/extension-query.css" />

</head>

<body>
<div class="extension-query">
    <div class="extension-query-ban">
        <img src="../images/extension-bg.png" />
    </div>
    <div class="extension-query-count">
        <h3>累计关注（人）</h3>
        <em class="c-red">1000</em>
    </div>
    <div class="column-two extension-query-detail">
        <div>
            <span class="coupon-number">600人</span>
            <p>昨日新增</p>
        </div>
        <div>
            <span class="coupon-number">500元</span>
            <p>累计费用</p>
        </div>
        <div>
            <span class="coupon-number">500人</span>
            <p>今日新增</p>
        </div>
    </div>
    <div>
        <ul class="activity-list">
            <li>
                <div class="list-box">
                    <div class="l-b-left">
                        <img src="../images/code.jpg" />
                    </div>
                    <div class="l-b-right">
                        <div class="l-b-des">
                            <h2>聚会苏<i class="activity-status during">进行中</i></h2>
                        </div>
                        <div class="l-b-point activity-watch">
                            <p>累计关注人数</p>
                            <div class="a-w-number">
                                <em class="c-red">450</em>人
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-box">
                    <div class="l-b-left">
                        <img src="../images/code.jpg" />
                    </div>
                    <div class="l-b-right">
                        <div class="l-b-des">
                            <h2>聚会苏<i class="activity-status end">已结束</i></h2>
                        </div>
                        <div class="l-b-point activity-watch">
                            <p>累计关注人数</p>
                            <div class="a-w-number">
                                <em class="c-red">450</em>人
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</body>

</html>