<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>理财知识</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/extension-des.css" />
</head>

<body>
<div class="extension-user-article">
    <h1>理财知识</h1>
    <div class="publish-time"><time>2016-02-02</time><em>彩米科技</em></div>
    <article>
        为什么工资涨不过房价？为什么娶个老婆要50万？如何实现工资5000元，
        年收入却可达10万以上？理财知识，为你解密。央视财经评论员亲自定期在该平台发布最新理财知识，除却股票、黄金、基金以外，是否有更多的理财渠道适合？关注理财知识，让你成为朋友眼中的理财达人
    </article>
    <div class="extension-user-code">
        <img src="../images/code.jpg" />
        <p class="c-red">长按二维码,自动识别,添加关注</p>
    </div>
</div>
</body>

</html>