<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>公众号管理</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/public-number.css" />
</head>

<body>
<div class="public-number">
    <section>
        <ul class="public-number-list">
            <li>
                <a href="" class="react">
                    <div class="list-box">
                        <div class="l-b-left">
                            <img src="/images/code.jpg" />
                        </div>
                        <div class="l-b-right">
                            <div class="l-b-des">
                                <h2>彩米科技</h2>
                            </div>
                            <span class="icon icon-remove">删除</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="" class="react">
                    <div class="list-box">
                        <div class="l-b-left">
                            <img src="/images/code.jpg" />
                        </div>
                        <div class="l-b-right">
                            <div class="l-b-des">
                                <h2>彩米科技</h2>
                            </div>
                            <span class="icon icon-remove">删除</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </section>
</div>
<div class="dialog">
    <div class="dialog-confirm">
        <header>公众号解除绑定</header>
        <section>
            <dl class="weixin-user">
                <dt>
                    <img src="../images/code.jpg" />
                </dt>
                <dd class="input-box">您确认将公众号<em class="c-red">彩米科技</em>解除绑定？</dd>

            </dl>
        </section>
        <footer>
            <a href="" class="react">取消</a>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>

</body>

</html>