<div class="group-cont">
    <div class="g-c-header">
        <span>我的群组（2组）</span>
        <a class="creat-grunp-btn" href="javascript:;">新增群组</a>
    </div>
    <div class="group-line">
        <div class="group-box">
            <i class="icon-dorp-right change"></i><span class="g-b-tit">全部用户（17人）</span>
            <div class="group-controll-btns">
                                    <span>
                                        <i class="icon-sendmsg"></i>
                                        群发短信
                                    </span>
            </div>
        </div>
        <ul class="bor-list">
            <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
            </li>
            <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
            </li>
            <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
            </li>
            <li>
                                    <span class="b-l-body">
                                        <em>13131430669</em><span class="del-btn">删除</span>
                                    </span>
            </li>
        </ul>
    </div>
    <div class="group-line">
        <div class="group-box">
            <i class="icon-dorp-right"></i><span class="g-b-tit">自定义（17人）</span>
            <div class="group-controll-btns">
                                    <span>
                                        <i class="icon-add"></i>
                                        添加成员
                                    </span>
                                    <span>
                                        <i class="icon-sendmsg"></i>
                                        群发短信
                                    </span>
                                    <span>
                                        <i class="icon-delgroup"></i>
                                        删除群组
                                    </span>
            </div>
        </div>
        <ul class="bor-list">

            <li>
                <em>13131430669</em>
            </li>
            <li>
                <em>13131430669</em>
            </li>
            <li>
                <em>13131430669</em>
            </li>
            <li>
                <em>13131430669</em>
            </li>
        </ul>
    </div>
    <div class="group-line">
        <div class="group-box">
            <i class="icon-dorp-right"></i><span class="g-b-tit">自定义（17人）</span>
            <div class="group-controll-btns">
                                    <span>
                                        <i class="icon-add"></i>
                                        添加成员
                                    </span>
                                    <span>
                                        <i class="icon-sendmsg"></i>
                                        群发短信
                                    </span>
                                    <span>
                                        <i class="icon-delgroup"></i>
                                        删除群组
                                    </span>
            </div>
        </div>
        <ul class="bor-list">
            <li>
                <em>13131430669</em>
            </li>
            <li>
                <em>13131430669</em>
            </li>
            <li>
                <em>13131430669</em>
            </li>
            <li>
                <em>13131430669</em>
            </li>
        </ul>
    </div>
</div>