<div class="msg-cont">
    <form action="" id="search-user"></form>
    <div class="m-c-header">
        <p class="msg-tips">请选择群发用户短信</p>
    </div>
    <div class="box-border-cont">
        <div class="b-b-tit">
            <i class="icon-all-users"></i><span class="text">查询所有用户<span class="show-btn"><i class="icon-fill-dorp"></i></span></span>
            <div class="model-checkbox">
                全选
                <span class="checkbox"><input type="checkbox"><span></span></span>
            </div>
        </div>
        <div class="show-dorp">
            <ul class="bor-list">
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
                <li>
                    <em>13131430669</em>
                    <span class="checkbox"><input type="checkbox"><span></span></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="box-border-cont">
        <div class="b-b-tit">
            <i class="icon-friends"></i><span class="text">朋友（1人）</span>
            <div class="model-checkbox">
                全选
                <span class="checkbox"><input type="checkbox"><span></span></span>
            </div>
        </div>
    </div>
    <div class="msg-input-container">
        <div class="msg-input-box">

            <textarea placeholder="请输入短信内容（不超过70字）"></textarea><em class="msg-size">0</em>
        </div>
        <div class="m-i-remarks">
            <p class="msg-tips">群发短信费由您的手机运营商收取</p>
        </div>

        <div class="msg-subs">
                                <span>
                                    <input class="modle-btn-blue40" type="submit" value="确定">
                                </span>
                                <span>
                                    <input class="modle-btn-gray40" type="reset" value="取消">
                                </span>
        </div>
    </div>
</div>
