
    <header>
        <div class="back"><a href="javascript:history.go(-1)"></a></div>
        <span class="title">用户详情</span>
    </header>
    <section id="wrapper">
        <div class="page">
            <div class="user-des-wrap">
                <div class="user-bg">
                    <div class="group-box">
                        <i class="icon-user"></i><span class="g-b-tit">1351234909</span>
                        <div class="group-controll-btns">
                        <span>
                            <i class="icon-callphone"></i>
                            拨打电话
                        </span>
                        <span>
                            <i class="icon-sendmsg"></i>
                            发送短信
                        </span>
                        </div>
                    </div>
                </div>
                <div class="user-remarks">
                    <div class="u-r-box">
                        <div class="model-label-input">
                            <lable>
                                备注名称：
                            </lable>
                            <div class="input-box">
                                <input class="input" disabled="true" type="text" value="未设置">
                                <a class="go-prefect-btn">设置</a>
                            </div>
                        </div>
                        <div class="model-label-input">
                            <lable>
                                自助充值：
                            </lable>
                            <div class="input-box">
                                <input class="input" disabled="true" type="text" value="开启">
                                <a class="model-switch-btn"><input type="checkbox"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="user-msg">
                    <dl>
                        <dt class="u-m-tit">
                            <span>账号信息</span>
                        </dt>
                        <dd class="u-m-tip">
                            <span>彩金余额：123.00元</span>
                            <a href="" class="model-radius-btn">为他充值</a>
                        </dd>
                        <dd class="u-m-body">
                            <div class="model-lable-msg">
                                <div class="m-l-m-name">佣金：</div>
                                <div class="m-l-m-body">
                                    <p>本月：<em class="c-blue">30.11</em>元</p>
                                    <p>昨日：<em class="c-blue">30.11</em>元</p>
                                </div>
                            </div>
                            <div class="model-lable-msg">
                                <div class="m-l-m-name">投注：</div>
                                <div class="m-l-m-body">
                                    <p>本月：<em class="c-blue">30.11</em>元</p>
                                    <p>昨日：<em class="c-blue">30.11</em>元</p>
                                </div>
                            </div>
                            <div class="model-lable-msg">
                                <div class="m-l-m-name">充值：</div>
                                <div class="m-l-m-body">
                                    <p>本月：<em class="c-blue">30.11</em>元</p>
                                    <p>昨日：<em class="c-blue">30.11</em>元</p>
                                </div>
                            </div>
                        </dd>
                        <dd class="u-m-tip">
                            <span>注册时间：2015-2-4 12:30</span>
                        </dd>
                        <dd class="u-m-tip">
                            <span>最后充值：2015-2-4 12:30</span>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </section>
