<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>兑换成功</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../../css/usercenter.css" />
    <link type="text/css" rel="stylesheet" href="../../css/exchange.css" />
</head>

<body>
<div class="exchange-success">
    <div class="e-s-des">
        <div>
            <img src="../../images/icon-success.png" />
        </div>
        <div class="">
            <em class="e-s-coupon">卡劵1234-1234-1234</em>
            <p>成功兑换，兑换金额</p>
            <em class="e-s-price">2.00 <i class="e-s-price-word">元</i></em>
        </div>
    </div>

    <div class="fixed-btns">
        <a href="" class="btn btn-primary">我知道了</a>
    </div>

</div>
</body>

</html>