/* line 5, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
/* line 9, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* line 29, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

/* line 40, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 47, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_html5.scss */
[hidden],
template {
  display: none;
}

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
/* line 11, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_base.scss */
body {
  margin: 0;
}

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
/* line 9, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a {
  background: transparent;
}

/* line 15, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_links.scss */
a:active,
a:hover {
  outline: 0;
}

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
/* line 9, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 15, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
b,
strong {
  font-weight: bold;
}

/* line 22, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
dfn {
  font-style: italic;
}

/* line 29, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 36, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 43, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
small {
  font-size: 80%;
}

/* line 49, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 57, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sup {
  top: -0.5em;
}

/* line 61, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_typography.scss */
sub {
  bottom: -0.25em;
}

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
/* line 9, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
img {
  border: 0;
}

/* line 15, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_embeds.scss */
svg:not(:root) {
  overflow: hidden;
}

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
/* line 9, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
figure {
  margin: 1em 40px;
}

/* line 15, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 23, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
pre {
  overflow: auto;
}

/* line 29, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_groups.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
/* line 15, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

/* line 27, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button {
  overflow: visible;
}

/* line 36, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
select {
  text-transform: none;
}

/* line 47, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 57, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* line 64, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 73, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input {
  line-height: normal;
}

/* line 83, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 93, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/* line 102, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 113, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 120, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 129, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
legend {
  border: 0;
  padding: 0;
}

/* line 136, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
textarea {
  overflow: auto;
}

/* line 143, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_forms.scss */
optgroup {
  font-weight: bold;
}

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
/* line 9, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 14, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-normalize-1.5/stylesheets/normalize/_tables.scss */
td,
th {
  padding: 0;
}

/* line 7, ../sass/query.scss */
html {
  font-size: 625%;
}

/* line 20, ../sass/query.scss */
body {
  font-size: .15rem;
  line-height: 1.5;
  color: #333333;
}

/* line 26, ../sass/query.scss */
* {
  -webkit-tap-highlight-color: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 31, ../sass/query.scss */
input, button {
  outline: none;
}

/* line 34, ../sass/query.scss */
img {
  vertical-align: middle;
  border: none;
  width: 100%;
  height: auto;
}

/* line 40, ../sass/query.scss */
ul, ol, li {
  list-style: none;
}

/* line 43, ../sass/query.scss */
.react {
  color: inherit;
  height: 100%;
  display: block;
}

/* line 48, ../sass/query.scss */
.react:active {
  background: rgba(0, 0, 0, 0.1);
}

/* line 51, ../sass/query.scss */
.w {
  padding: 0 .1rem;
}

/* line 54, ../sass/query.scss */
.hide {
  display: none;
}

/* line 57, ../sass/query.scss */
.indent {
  text-indent: 2em;
}

/* line 60, ../sass/query.scss */
#query {
  width: 100%;
  min-width: 320px;
  background: #fff;
}

/* line 65, ../sass/query.scss */
.query-box {
  padding: 0 .1rem;
}

/* line 68, ../sass/query.scss */
.select-layout {
  padding-top: .13rem;
  display: box;
  display: -webkit-box;
  -webkit-box-align: center;
  box-align: center;
}

/* line 75, ../sass/query.scss */
.s-label {
  display: block;
  width: .7rem;
  white-space: nowrap;
}

/* line 80, ../sass/query.scss */
.select-box {
  -webkit-box-flex: 1;
  box-flex: 1;
  margin-left: .1rem;
  line-height: .29rem;
  border: 1px solid #2f87de;
  border-radius: .04rem;
  background: #fff;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  text-align: center;
  overflow: hidden;
  color: #333;
}

/* line 94, ../sass/query.scss */
.select-val {
  width: 100%;
  min-width: .8rem;
  font-size: .14rem;
  position: relative;
}
/* line 100, ../sass/query.scss */
.select-val:after {
  content: '';
  width: .15rem;
  height: .15rem;
  position: absolute;
  top: 50%;
  right: .05rem;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  background-image: url(../images/tip.png);
  background-size: 100%;
}

/* line 113, ../sass/query.scss */
.input-val {
  width: 100%;
  line-height: .29rem;
  padding: 0;
  border: none;
  border-radius: .04rem;
  text-align: center;
  font-size: .14rem;
  background: #fff;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  color: #333 !important;
  opacity: 1;
}

/* line 127, ../sass/query.scss */
.btn-layout {
  -webkit-box-pack: justify;
  box-pack: justify;
}

/* line 131, ../sass/query.scss */
.btn-select {
  width: 45%;
  line-height: .36rem;
  border: 2px solid #2f87de;
  border-radius: .04rem;
  text-align: center;
  font-size: .17rem;
  color: #2f87de;
}
/* line 139, ../sass/query.scss */
.btn-select:active {
  background: #eee;
}

/* line 143, ../sass/query.scss */
.form-submit {
  width: 100%;
  margin: .13rem auto;
}

/* line 147, ../sass/query.scss */
.btn {
  width: 100%;
  border: none;
  border-radius: .04rem;
  line-height: .44rem;
  text-align: center;
  background: #2f87de;
  color: #fff;
  font-size: .17rem;
}

/* line 159, ../sass/query.scss */
.header {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  line-height: .43rem;
  background: #eee;
  font-size: .17rem;
}

/* line 166, ../sass/query.scss */
.tab-header {
  text-align: center;
  overflow: hidden;
}
/* line 169, ../sass/query.scss */
.tab-header div {
  width: 50%;
  float: left;
}
/* line 173, ../sass/query.scss */
.tab-header span {
  display: inline-block;
  padding: 0 .1rem;
}
/* line 176, ../sass/query.scss */
.tab-header span.active {
  color: #333;
  border-bottom: 4px solid #2f87de;
}

/* line 182, ../sass/query.scss */
.chart-header {
  padding-left: .1rem;
  text-align: left;
}

/* line 186, ../sass/query.scss */
.body-list li {
  display: box;
  display: -webkit-box;
}
/* line 189, ../sass/query.scss */
.body-list li:first-child span {
  font-size: .15rem;
}
/* line 192, ../sass/query.scss */
.body-list li span {
  display: block;
  width: 33.33333%;
  line-height: .35rem;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  color: #333;
  font-size: .12rem;
  text-align: center;
}
/* line 201, ../sass/query.scss */
.body-list li span:nth-of-type(3n) {
  border-right: none;
}
/* line 208, ../sass/query.scss */
.body-list li.cloumn-two span {
  width: 50%;
}
/* line 210, ../sass/query.scss */
.body-list li.cloumn-two span:nth-of-type(2n) {
  border-right: none;
}

/* line 217, ../sass/query.scss */
.loading {
  display: none;
  width: 4px;
  height: 4px;
  margin: -2px;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999999999;
  border-radius: 4px;
  box-shadow: 10px 0 0 0 rgba(0, 0, 0, 0.2), 7px 7px 0 0 rgba(0, 0, 0, 0.3), 0 10px 0 0 rgba(0, 0, 0, 0.4), -7px 7px 0 0 rgba(0, 0, 0, 0.5), -10px 0px 0 0 rgba(0, 0, 0, 0.6), -7px -7px 0 0 rgba(0, 0, 0, 0.7), 0 -10px 0 0 rgba(0, 0, 0, 0.8), 7px -7px 0 0 rgba(0, 0, 0, 0.9);
  -webkit-animation-name: loading;
  -moz-animation-name: loading;
  -ms-animation-name: loading;
  -o-animation-name: loading;
  animation-name: loading;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 错误提示层 */
/* line 259, ../sass/query.scss */
.error-layer {
  width: 100%;
  text-align: center;
  position: fixed;
  bottom: -.6rem;
  left: 0;
  z-index: 99999999;
  opacity: 0;
  -webkit-transition: all ease-out 0.1s;
  -moz-transition: all ease-out 0.1s;
  -ms-transition: all ease-out 0.1s;
  -o-transition: all ease-out 0.1s;
  transition: all ease-out 0.1s;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}
/* line 269, ../sass/query.scss */
.error-layer.show {
  bottom: 20%;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
/* line 274, ../sass/query.scss */
.error-layer span {
  min-height: .4rem;
  min-width: .8rem;
  padding: 0 .2rem;
  line-height: .4rem;
  font-size: .16rem;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
}

/* line 287, ../sass/query.scss */
.mask {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

/* line 296, ../sass/query.scss */
.view-select-confirm {
  width: 70%;
  background: #fff;
  border-radius: .03rem;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 11;
}
/* line 306, ../sass/query.scss */
.view-select-confirm .select-list {
  overflow: hidden;
}
/* line 309, ../sass/query.scss */
.view-select-confirm li {
  width: 25%;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: -1px;
  line-height: .4rem;
  float: left;
  text-align: center;
  white-space: nowrap;
}
/* line 318, ../sass/query.scss */
.view-select-confirm li:active {
  background: #f5f5f5;
}
/* line 321, ../sass/query.scss */
.view-select-confirm li:nth-of-type(4n) {
  border-right: none;
}
