
    <header>
        <div class="back"><a href="javascript:history.go(-1)"></a></div>
        <span class="title">更多功能</span>
    </header>
    <section>
        <div class="more-fn-cont">

            <dl class="model-drop">
                <dt class="m-d-tit"><span>切换用户</span><span class="m-d-icon"><i class="icon-drop"></i></span></dt>
                <dd class="m-d-cont">
                    <img src="../../images/recharge/icon_pay_zhifubao.png" >
                    <div class="recharge-tit">
                        <h2>支付宝充值</h2>
                    </div>
                </dd>
                <dd class="m-d-cont">
                    <img src="../../images/recharge/icon_pay_baidu.png" >
                    <div class="recharge-tit">
                        <h2>百度钱包充值</h2>
                    </div>
                </dd>

            </dl>
            <dl class="mt20 model-drop">
                <dt class="m-d-tit"><span>检测更新<i class="is-update"></i></span><span class="m-d-icon"><em class="more-tip">发现新版本</em><i class="icon-drop"></i></span></dt>
                <dd class="m-d-cont">
                    <img src="../../images/recharge/icon_pay_zhifubao.png" >
                    <div class="recharge-tit">
                        <h2>支付宝充值</h2>
                    </div>
                </dd>
            </dl>
            <dl class="mt20 model-drop">
                <dt class="m-d-tit"><span>客服热线 400-6666-780</span><span class="m-d-icon"><a href="tel:400-6666-780" class="more-tip">拨打</a><i class="icon-drop"></i></span></dt>
                </dd>
            </dl>
            <dl class="mt20 model-drop">
                <dt class="m-d-tit"><a href=""><span>关于我们</span><span class="m-d-icon"><i class="icon-drop"></i></span></a></dt>
                </dd>
            </dl>
        </div>
    </section>
