<div class="container">

    <div class="row">
        <form class="form-inline" name="usersearch" ng-submit="suerSearch()">
            <div class="form-group">
                <label>地域：</label>
                <city-select class="form-group">

                    <select  class="form-control" ng-model="province" ng-change="change(province, 'city')">
                        <option value>省</option>
                        <option ng-repeat="a in oProvince" value="{{ a.name }}">{{ a.name }}</option>
                    </select>
                    <select  class="form-control" ng-model="city"  ng-change="change(city, 'area')">
                        <option value>市</option>
                        <option ng-repeat="a in oCity" value="{{ a.name }}">{{ a.name }}</option>
                    </select>
                    <select  class="form-control" ng-model="area"  ng-change="change(area)" >
                        <option value>地区</option>
                        <option ng-repeat="a in oArea" value="{{ a.name}}">{{ a.name }}</option>
                    </select>
                </city-select>

            </div>
            <div class="form-group">
                <label>渠道类型：</label>
                <select  class="form-control" ng-model="channeltype">
                    <option value>全部</option>
                    <option value="投注站">投注站</option>
                    <option value="自助投注站">自助投注站</option>
                    <option value="社会渠道">社会渠道</option>
                </select>
            </div>
            <div class="form-group">
                <label>注册渠道：</label>
                <input type="text" ng-model="registerchannel" class="form-control"  placeholder="注册渠道">

            </div>
            <div class="form-group">
                <label>站长编号：</label>
                <input type="text" ng-model="no" class="form-control"  placeholder="站长编号">
            </div>
            <div class="form-group">
                <label>代理商编号：</label>
                <input type="text" ng-model="agentunmber" class="form-control"  placeholder="代理商编号">
            </div>
            <div class="form-group">
                <label>代理商姓名：</label>
                <input type="text" ng-model="agentname" class="form-control"  placeholder="站长编号">
            </div>
            <div class="form-group">
                <label>手机号：</label>
                <input type="text" ng-model="mobile" class="form-control"  placeholder="站长编号">
            </div>
            <div class="form-group">
                <label>账户状态：</label>
                <select  class="form-control" ng-model="userstatus">
                    <option value="" >全部</option>
                    <option ng-repeat="i in ['活动','锁定','注销']" value="{{i}}" >{{i}}</option>

                </select>
            </div>
            <div class="form-group">
                <label>软件版本：</label>
                <select  class="form-control" ng-model="softversion" >
                    <option value="">全部</option>
                    <option ng-repeat="i in ['androidv1.0']" value="{{i}}" >{{i}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>等级：</label>
                <select  class="form-control" ng-model="level" >
                    <option value="">全部</option>
                    <option ng-repeat="i in ['lv0','lv1','lv2']" value="{{i}}" >{{i}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>注册时间：</label>
                <select  class="form-control" ng-model="registertime" >
                    <option value="">全部</option>
                    <option ng-repeat="i in ['活动','锁定','注销']" value="{{i}}" >{{i}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>登录时间：</label>
                <select  class="form-control" ng-model="logintime" >
                    <option value="">全部</option>
                    <option ng-repeat="i in ['活动','锁定','注销']" value="{{i}}" >{{i}}</option>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox">模糊查询
                </label>
            </div>
            <button type="submit" class="btn btn-primary">查询</button>
        </form>
    </div>
    <div class="row">
        <table class="table table-bordered text-center">
            <tr>
                <td>累计注册代理商</td>
                <td>昨日注册</td>：
                <td>今日注册</td>
                <td>上月注册代理商</td>
                <td>当月注册代理商</td>
                <td>昨日登录</td>
                <td>今日登录</td>
            </tr>
            <tr>

                <td ng-repeat="i in userMsg">{{ i.count }}</td>
            </tr>
        </table>
    </div>
    <div class="row" ng-show="bodys.page.length" >
        <h3>代理商列表</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>代理商编号</th>
                    <th>手机号</th>
                    <th>等级</th>
                    <th>姓名</th>
                    <th>地区</th>
                    <th>累计佣金</th>
                    <th>累计代充</th>
                    <th>预存款余额</th>
                    <th>佣金余额</th>
                    <th>红包余额</th>
                    <th>注册时间</th>
                    <th>最后登录时间</th>
                    <th>注册渠道</th>
                    <th>软件版本</th>
                    <th>账户状态</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="bodys.page.length" ng-repeat="i in bodys.page">
                    <td ><a ui-sref="index.agentdetail({id:i.sid})">{{ i.sid }}</a></td>
                    <td >{{ i.mobile }}</td>
                    <td >{{ i.level }}</td>
                    <td ><a ui-sref="index.agentdetail">{{ i.name }}</a></td>
                    <td >{{ i.province }}|{{ i.city }}|{{ i.area }}</td>
                    <td >{{  }}</td>
                    <td >{{  }}</td>
                    <td >{{  }}</td>
                    <td >{{  }}</td>
                    <td >{{  }}</td>
                    <td >{{ i.registertime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td >{{ i.logintime | date:'yyyy-MM-dd HH:mm:ss' }}</td>
                    <td >{{ i.registerchannel }}</td>
                    <td >{{ i.softversion }}</td>
                    <td >{{ i.userstatus }}</td>
                </tr>
                <tr ng-show="!bodys.page.length">
                    <td colspan="17">没有相关数据</td>
                </tr>
            </tbody>
            <tfoot ng-show="bodys.page.length">
                <tr>
                    <td colspan="15">
                        <pages itemtotal="{{ bodys.size }}" itempage="1" listsize="5">
                            <ul class="pagination">
                                <li class="{disabled: isFirst()}" ng-click="previous()"><a href="javascript:;" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                                <li ng-repeat="page in pages" ng-class="{active: page.active}" ng-click="selectPage(page.index)"><a href="javascript:;">{{ page.text }} <span class="sr-only"></span></a></li>
                                <li class="{disabled: isLast()}" ng-click="next()"><a href="javascript:;" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>
                            </ul>
                        </pages>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
