
.taskrecord {

  .l-b-left{
    height: .4rem;
    img{
      width: .4rem;
      height: .4rem;
      border-radius: .03rem;
    }
  }
  .l-b-right .l-b-point{
    font-size: .15rem;
    color: #aaa;
  }

}
