<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>申请提现</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/usercenter.css" />
    <link type="text/css" rel="stylesheet" href="../css/apply-cash.css" />
</head>

<body>
<div class="apply-cash">

    <section class="apply-input">
        <div>
            <input type="tel" value="10" class="bor-none"/>元
        </div>
        <div class="go-to">
            微信钱包
        </div>
    </section>
    <div class="column-two apply-des">
        <div>
            <span class="column-strong"><em class="c-red">600.00</em> 元</span>
            <p>可提现金额</p>
        </div>
        <div>
            <span class="column-strong">24小时之内</span>
            <p>预计到账时间</p>
        </div>
    </div>
    <div class="warm-tips">
        双休日及节假日不处理提现业务
    </div>
    <div class="fixed-btns">
        <a href="" class="btn btn-primary">申请提现</a>
        <a href="" class="btn btn-bor">查看提现记录</a>
    </div>
</div>
<div class="dialog">
    <div class="dialog-alert">
        <header>温馨提示</header>
        <section>
            <p class="msg">
                您的提现金额不能小于10元<br/>
                <em>继续加油吧！</em>
            </p>

        </section>
        <footer>
            <a href="" class="react">我知道了</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-alert">
        <header>温馨提示</header>
        <section>
            <p class="msg">
                您的提现申请已成功提交
            </p>

        </section>
        <footer>
            <a href="" class="react">我知道了</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-alert">
        <header>选择提现账户</header>
        <section>
            <ul class="select-list">
                <li class="go-to">
                    支付宝w@126.com
                </li>
                <li class="go-to">
                    微信钱包
                </li>
            </ul>
        </section>
    </div>
</div>
</body>

</html>