<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>兑换收入查询</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/usercenter.css" />
    <link type="text/css" rel="stylesheet" href="../css/exchange-query.css" />
</head>

<body>
<div class="edit-admin">

    <section class="query-cont">
        <div class="form-row">
            <div class="select-date"><div class="select">2016/3/3</div></div>
            <div class="icon-and">至</div>
            <div class="select-date"><div class="select">2016/3/6</div></div>
            <div class="query-btn">
                <a href="" class="small-bor-btn small-bor-btn-large">查询</a>
            </div>
        </div>
        <div class="query-total">
            <p>共计20张券，兑换金额<em class="c-red">40.00</em>元</p>
        </div>
    </section>
    <section>
        <dl class="exchange-list">
            <dt class="column-box">
                <div>兑换码</div>
                <div>管理员</div>
                <div>兑换金额</div>
            </dt>
            <dd class="column-box">
                <div>
                    1234-4567-6789
                </div>
                <div>猴赛雷</div>
                <div class="operation">
                    <em class="c-red">40.00</em>
                </div>
            </dd>
            <dd class="column-box">
                <div>
                    1234-4567-6789
                </div>
                <div>猴赛雷</div>
                <div class="operation">
                    <em class="c-red">40.00</em>
                </div>
            </dd>
        </dl>

    </section>

</div>

</body>

</html>