<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>收入查询</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/income-query.css" />
</head>

<body>
    <div class="income-query">
        <div class="income-query-ban">
            <img src="../images/income-query-bg.jpg" />
        </div>
        <div class="coupon-count">
            <h3>所有收入（元）</h3>
            <em class="c-red">1000</em>
        </div>
        <div class="column-two coupon-detail">
            <div>
                <span class="coupon-number">600（元）</span>
                <p>可提收入</p>
            </div>
            <div>
                <span class="coupon-number">500（元）</span>
                <p>已提收入</p>
            </div>
        </div>
        <div class="income-nav">
            <ul class="nav-list">
                <li>
                    <a href="" class="react go-to">
                        <div class="nav-box">
                            <div class="nav-icon">
                                <i class="icon icon-price"></i>
                            </div>
                            <div class="nav-tit">
                                兑换收入
                            </div>
                            <div class="nav-tips">
                                10:00元
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="" class="react go-to">
                        <div class="nav-box">
                            <div class="nav-icon">
                                <i class="icon icon-invitationincome"></i>
                            </div>
                            <div class="nav-tit">
                                邀请收入
                            </div>
                            <div class="nav-tips">
                                10:00元
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="exchange-btns">
            <a href="" class="btn btn-primary">申请兑换</a>
        </div>
    </div>

</body>

</html>