<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>提现信息</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta content="telephone=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link type="text/css" rel="stylesheet" href="../css/base.css" />
    <link type="text/css" rel="stylesheet" href="../css/withdrawcash.css" />
</head>

<body>
<div class="withdrawcash">
    <section class="platform">
        <div class="">
            <img src="../images/logo_zhifubao_03.png" />
            <em>支付宝账号</em>
            <div class="add-btns">
                <a href="" class="btn-border">添加</a>
            </div>
        </div>
        <div class="">
            <img src="../images/logo_weixin_05.png" />
            <em>微信钱包</em>
            <div class="add-btns">
                <a href="" class="btn-border">添加</a>
            </div>
        </div>
    </section>
    <section class="apply-exchange-nav">
        <ul class="nav-list">
            <li>
                <div class="nav-box react go-to">
                    <div class="nav-icon">
                        <i class="icon icon-password"></i>
                    </div>
                    <div class="nav-tit">
                        添加提现密码
                    </div>
                </div>
                <span class="icon-switch"></span>
            </li>
        </ul>
    </section>
</div>
<div class="dialog">
    <div class="dialog-confirm">
        <header>提现密码</header>
        <section>
            <dl class="modify-user">
                <dt>
                <h3>此密码仅作为提现使用</h3>
                </dt>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="请输入原始密码"/>
                </dd>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="请输入六位数字"/>
                </dd>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="再次输入六位数字"/>
                </dd>
            </dl>
        </section>
        <footer>
            <a href="" class="react">取消</a>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-confirm">
        <header>支付宝</header>
        <section>
            <dl class="modify-user">
                <dt>
                <h3>绑定<span class="c-red">实名认证</span>过的支付宝账号</h3>
                </dt>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="支付宝收款人姓名"/>
                </dd>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="支付宝收款人账号"/>
                </dd>
            </dl>
        </section>
        <footer>
            <a href="" class="react">取消</a>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-confirm">
        <header>微信钱包</header>
        <section>
            <dl class="modify-user">
                <dt>
                <h3>请填写<span class="c-red">绑定微信钱包</span>的银行卡姓名</h3>
                </dt>
                <dd class="input-box">
                    <input class="small-input" type="text" placeholder="微信收款人姓名"/>
                </dd>
            </dl>
        </section>
        <footer>
            <a href="" class="react">取消</a>
            <a href="" class="react">确定</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-alert">
        <header>添加成功</header>
        <section>
            <p class="msg">您可以到<span class="c-red">收入查询</span>申请提现</p>
        </section>
        <footer>
            <a href="" class="react">我知道了</a>
        </footer>
    </div>
</div>
<div class="dialog">
    <div class="dialog-alert">
        <header>添加成功</header>
        <section>
            <p class="msg">您牢记，您的密码：<span class="c-red">123456</span></p>
        </section>
        <footer>
            <a href="" class="react">我知道了</a>
        </footer>
    </div>
</div>

</body>

</html>