/* 弹出层 begin */


.view-confirm{
  width: 2.6rem;
  z-index: 21;
  height: auto;
}
.view-confirm-header h2{
  line-height: .42rem;
  font-size: .15rem;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  color: #333;
}
.view-confirm-body{
  padding: .1rem .175rem;
  line-height: .27rem;
  font-size: .12rem;
  color: #333;

}
.view-confirm-footer{

  display: -webkit-box;
  display: box;
  padding: .08rem  .15rem .16rem;
  -webkit-box-pack:justify;
  box-pack:justify;
  overflow: hidden;


}
.view-confirm-footer a{
  display:block;
  width: 1rem;
  height: .33rem;

  border: 1px solid #ba6c46;
  line-height: 32px;


  text-align:center;
  font-size: 18px;
  color:#fff;
  background: #ff5500;



}
/* 弹出层end */