

<div class="header-logo">
    <a class="register-btn" href="./register.html">注册</a>

    <h1><img src="../../images/entry/logo.png" alt=""></h1>
    <strong>体彩自助彩票</strong>

    <p>（代理商版）</p>
</div>
<article>
    <section class="login-cont">
    	<form ng-submit="login()" method="post">
		    <div class="login-user">
		        <div class="modle-input">
		            <input type="text" placeheader="输入手机号" ng-model="name"><b class="drop-down-btn"></b>
		        </div>
		        <ul class="datalist">
		            <li>13231430669</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		            <li>13231430890</li>
		        </ul>
		    </div>
		    <div class="login-psd">

		        <div class="modle-input">
		            <input type="password" placeheader="请输入密码" ng-model="password"><b class="show-psd"></b>
		        </div>
		    </div>
		    <div class="login-sub">
		        <input type="submit" class="btn" value="登录">
		    </div>
        </form>
    </section>
</article>
