@charset "UTF-8";
.exchange .coupon-des {
  padding: .1rem; }

.coupon {
  padding-bottom: .05rem;
  border-radius: .04rem;
  background: #fff;
  text-align: center;
  box-shadow: 1px 1px 1px rgba(7, 0, 2, 0.12);
  overflow: hidden; }
  .coupon .c-header {
    height: .57rem;
    line-height: .47rem;
    background-image: url(../images/coupon-bg.png);
    background-position: 0 bottom;
    background-repeat: repeat-x;
    background-size: .055rem .502rem;
    color: #fff;
    font-size: .17rem; }
  .coupon .c-number {
    padding: .2rem 0 .1rem;
    font-size: .18rem; }
  .coupon .c-number-input {
    padding: .1rem .3rem .035rem; }
  .coupon .c-status {
    font-size: .13rem; }

/* 卡劵兑换成功 */
.exchange-success .e-s-des {
  padding-top: .3rem;
  text-align: center; }
  .exchange-success .e-s-des img {
    width: .55rem; }
  .exchange-success .e-s-des .e-s-coupon {
    display: inline-block;
    padding: .14rem 0 .07rem;
    font-size: .17rem; }
  .exchange-success .e-s-des p {
    font-size: .13rem;
    color: #999; }

.exchange-success .e-s-price {
  display: inline-block;
  padding-top: .35rem;
  font-size: .45rem; }
  .exchange-success .e-s-price .e-s-price-word {
    font-size: .18rem; }

.coupon-sub {
  padding: .5rem .3rem 0; }
