/* line 3, ../../../sass/users/users-index.scss */
.tab-menu {
  display: -webkit-box;
  display: box;
  width: 100%;
}
/* line 7, ../../../sass/users/users-index.scss */
.tab-menu li {
  line-height: .41rem;
  -webkit-box-flex: 1;
  box-flex: 1;
  border-bottom: 1px solid #2f87de;
  font-size: .18rem;
  color: #333;
  text-align: center;
}
/* line 15, ../../../sass/users/users-index.scss */
.tab-menu li.active {
  border-width: 3px;
  color: #2f87de;
}

/* 用户查询 begin */
/* line 22, ../../../sass/users/users-index.scss */
.box-border-cont {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: .2rem 0;
  font-size: .16rem;
  color: #333;
  transition: all .7s ease;
  -webkit-transition: all .7s ease;
  overflow: hidden;
}

/* line 32, ../../../sass/users/users-index.scss */
.b-b-tit a {
  display: -webkit-box;
  display: box;
  padding: 0 .18rem;
  line-height: .45rem;
  -webkit-box-align: center;
  box-align: center;
}
/* line 39, ../../../sass/users/users-index.scss */
.b-b-tit a > * {
  display: block;
  background-size: 100%;
}
/* line 43, ../../../sass/users/users-index.scss */
.b-b-tit a .text {
  padding-left: .06rem;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 48, ../../../sass/users/users-index.scss */
.b-b-tit a .icon-all, .b-b-tit a .icon-one, .b-b-tit a .icon-empty {
  width: .21rem;
  height: .25rem;
  background-image: url(../../images/users/icon_alluser.png);
}
/* line 53, ../../../sass/users/users-index.scss */
.b-b-tit a .icon-one {
  background-image: url(../../images/users/icon_search_one.png);
}
/* line 57, ../../../sass/users/users-index.scss */
.b-b-tit a .icon-empty {
  background-image: url(../../images/users/icon_search_recharge.png);
}
/* line 61, ../../../sass/users/users-index.scss */
.b-b-tit a .show-btn {
  display: inline-block;
  width: .075rem;
  height: .075rem;
}
/* line 66, ../../../sass/users/users-index.scss */
.b-b-tit a .icon-more {
  width: .13rem;
  height: .19rem;
  margin-right: .05rem;
  background-image: url(../../images/users/icon_arrow.png);
}

/* line 73, ../../../sass/users/users-index.scss */
.show-dorp {
  width: 2.6rem;
  margin: 0 0 .13rem .18rem;
}

/* line 78, ../../../sass/users/users-index.scss */
.model-search {
  position: relative;
}
/* line 80, ../../../sass/users/users-index.scss */
.model-search input:first-child {
  width: 100%;
  padding: .03rem 0 .03rem .32rem;
  border: 1px solid #ddd;
  border-radius: .04rem;
  line-height: .24rem;
  font-size: inherit;
}
/* line 87, ../../../sass/users/users-index.scss */
.model-search input:first-child::-webkit-input-placeholder {
  color: #ccc;
}
/* line 91, ../../../sass/users/users-index.scss */
.model-search .search-sub {
  width: .29rem;
  height: .29rem;
  border: none;
  background: url(../../images/users/icon_search.png) 0 0.02rem;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
}

/* 用户列表 begin */
/* line 106, ../../../sass/users/users-index.scss */
.menu-list {
  padding: .02rem 0;
  border-top: 1px solid #ddd;
  background: #eee;
  overflow: hidden;
}
/* line 111, ../../../sass/users/users-index.scss */
.menu-list li {
  width: 33.333%;
  height: ．4rem;
  border-left: 1px solid #ccc;
  float: left;
  text-align: center;
  color: #333;
}
/* line 118, ../../../sass/users/users-index.scss */
.menu-list li:first-child {
  border: none;
}
/* line 121, ../../../sass/users/users-index.scss */
.menu-list li .sort-btns {
  display: inline-block;
  vertical-align: middle;
}
/* line 124, ../../../sass/users/users-index.scss */
.menu-list li .sort-btns i {
  display: block;
  height: 0;
  width: 0;
  border: .075rem solid transparent;
  margin: .02rem .05rem;
}
/* line 130, ../../../sass/users/users-index.scss */
.menu-list li .sort-btns i.icon-up {
  border-bottom-color: #ccc;
}
/* line 132, ../../../sass/users/users-index.scss */
.menu-list li .sort-btns i.icon-up.active {
  border-bottom-color: #2f87de;
}
/* line 136, ../../../sass/users/users-index.scss */
.menu-list li .sort-btns i.icon-down {
  border-top-color: #ccc;
}
/* line 138, ../../../sass/users/users-index.scss */
.menu-list li .sort-btns i.icon-down.active {
  border-top-color: #2f87de;
}

/* line 148, ../../../sass/users/users-index.scss */
.users-list li {
  height: .6rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: .15rem;
  position: relative;
}
/* line 154, ../../../sass/users/users-index.scss */
.users-list li a {
  display: block;
  height: inherit;
}
/* line 157, ../../../sass/users/users-index.scss */
.users-list li a:active {
  background: #f8f8f8;
}
/* line 160, ../../../sass/users/users-index.scss */
.users-list li a > div {
  width: 33.33333%;
  padding-top: .08rem;
  float: left;
  font-size: .14rem;
  text-align: center;
}
/* line 168, ../../../sass/users/users-index.scss */
.users-list li .icon-more {
  width: .13rem;
  height: .19rem;
  background-image: url(../../images/users/icon_arrow.png);
  background-size: 100%;
  position: absolute;
  right: .05rem;
  top: .22rem;
}
/* line 177, ../../../sass/users/users-index.scss */
.users-list li .price {
  margin-top: -.01rem;
}
/* line 179, ../../../sass/users/users-index.scss */
.users-list li .price .user-name, .users-list li .price .user-price {
  padding-left: .16rem;
  color: #2f87de;
  font-size: .12rem;
  position: relative;
}
/* line 184, ../../../sass/users/users-index.scss */
.users-list li .price .user-name [class*="icon"], .users-list li .price .user-price [class*="icon"] {
  width: .16rem;
  height: .16rem;
  margin: 0rem 0 0 -.16rem;
  background-size: 100%;
  position: absolute;
}
/* line 191, ../../../sass/users/users-index.scss */
.users-list li .price .user-name .icon-user, .users-list li .price .user-price .icon-user {
  background-image: url(../../images/users/user_user.png);
}
/* line 195, ../../../sass/users/users-index.scss */
.users-list li .price .user-price {
  top: .01rem;
  color: #333;
  font-size: .14rem;
}
/* line 200, ../../../sass/users/users-index.scss */
.users-list li .price .user-price .icon-price {
  margin-right: .04rem;
  background-image: url(../../images/users/user_cash.png);
}
/* line 207, ../../../sass/users/users-index.scss */
.users-list li .time time {
  display: block;
  color: #666;
}

/* 用户列表 end */
/* 用户详情 begin */
/* line 221, ../../../sass/users/users-index.scss */
.user-bg {
  margin-top: -.2rem;
  background: #eee;
}
/* line 224, ../../../sass/users/users-index.scss */
.user-bg .icon-user {
  display: inline-block;
  width: .16rem;
  height: .17rem;
  margin-right: .08rem;
  background: url(../../images/users/icon_user_detail.png);
  background-size: 100%;
}

/* line 233, ../../../sass/users/users-index.scss */
.user-remarks {
  border-bottom: 1px solid #ddd;
}

/* line 236, ../../../sass/users/users-index.scss */
.u-r-box {
  padding: .075rem 0 0 .1rem;
}
/* line 239, ../../../sass/users/users-index.scss */
.u-r-box .model-switch-btn {
  position: absolute;
  right: .1rem;
  top: .115rem;
}
/* line 244, ../../../sass/users/users-index.scss */
.u-r-box .model-label-input:last-child .input-box input {
  border: none;
}

/* 用户充值注册时间 */
/* line 249, ../../../sass/users/users-index.scss */
.user-msg {
  padding-bttom: .3rem;
}
/* line 251, ../../../sass/users/users-index.scss */
.user-msg dd {
  padding-left: .1rem;
  border-top: 1px solid #ddd;
}
/* line 255, ../../../sass/users/users-index.scss */
.user-msg .u-m-tit {
  padding: .15rem .1rem 0;
  line-height: .25rem;
  font-size: .12rem;
  color: #999;
}
/* line 261, ../../../sass/users/users-index.scss */
.user-msg .u-m-tip {
  line-height: .45rem;
  overflow: hidden;
}
/* line 264, ../../../sass/users/users-index.scss */
.user-msg .u-m-tip .model-radius-btn {
  margin-top: .1rem;
  float: right;
}

/* line 272, ../../../sass/users/users-index.scss */
.model-lable-msg {
  display: -webkit-box;
  display: box;
  height: .55rem;
  padding: 0 .1rem;
  font-size: .16rem;
  color: #333;
  -webkit-box-align: center;
  box-align: center;
}
/* line 281, ../../../sass/users/users-index.scss */
.model-lable-msg:first-child .m-l-m-body {
  border: none;
}
/* line 284, ../../../sass/users/users-index.scss */
.model-lable-msg .m-l-m-tit {
  width: .48rem;
  font-size: inherit;
}
/* line 288, ../../../sass/users/users-index.scss */
.model-lable-msg .m-l-m-body {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding-left: .1rem;
  border-top: 1px solid #ddd;
  color: #666;
}

/* 用户详情 end */
/* 短信管理 begin */
/* line 300, ../../../sass/users/users-index.scss */
.msg-cont .show-dorp {
  position: absolute;
  width: 100%;
  margin: 0;
  background: #fff;
  z-index: 2;
  display: none;
}
/* line 308, ../../../sass/users/users-index.scss */
.msg-cont .m-c-header {
  margin: .1rem auto -.08rem;
  text-align: center;
}

/* line 314, ../../../sass/users/users-index.scss */
.msg-tips {
  display: inline-block;
  padding: 0 .14rem;
  line-height: .22rem;
  text-align: center;
  font-size: .14rem;
  color: #999;
  background: #e2e2e2;
  border-radius: .1rem;
}

/* line 324, ../../../sass/users/users-index.scss */
.icon-all-users, .icon-friends {
  width: .3rem;
  height: .3rem;
  background-image: url(../../images/users/icon_all.png);
}

/* line 329, ../../../sass/users/users-index.scss */
.icon-friends {
  background-image: url(../../images/users/icon_friend.png);
}

/* line 334, ../../../sass/users/users-index.scss */
.bor-list li {
  display: -webkit-box;
  display: box;
  padding-left: .3rem;
  border-bottom: 1px solid #ddd;
  line-height: .35rem;
  font-size: inherit;
}
/* line 341, ../../../sass/users/users-index.scss */
.bor-list li em {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
}
/* line 346, ../../../sass/users/users-index.scss */
.bor-list li .checkbox {
  margin-right: .13rem;
}

/* 输入短信内容 begin */
/* line 352, ../../../sass/users/users-index.scss */
.msg-input-box {
  width: 100%;
  height: .98rem;
  padding: 0 .1rem;
  position: relative;
}
/* line 357, ../../../sass/users/users-index.scss */
.msg-input-box textarea {
  width: 100%;
  height: 100%;
  padding: .04rem;
  border: 2px solid #ccc;
  border-radius: .04rem;
  font-size: inherit;
  resize: none;
  outline: none;
}
/* line 367, ../../../sass/users/users-index.scss */
.msg-input-box .msg-size {
  position: absolute;
  right: .16rem;
  bottom: .02rem;
  font-size: .14rem;
  color: #999;
}

/* line 375, ../../../sass/users/users-index.scss */
.m-i-remarks {
  padding: .05rem 0 .1rem;
  text-align: center;
}

/* line 379, ../../../sass/users/users-index.scss */
.msg-subs {
  padding: 0 .1rem;
}
/* line 381, ../../../sass/users/users-index.scss */
.msg-subs span {
  float: left;
  width: 48%;
}
/* line 384, ../../../sass/users/users-index.scss */
.msg-subs span:last-child {
  float: right;
}

/* 群组管理 begin */
/* line 390, ../../../sass/users/users-index.scss */
.g-c-header {
  height: .44rem;
  padding: 0 .1rem;
  line-height: .44rem;
  background: #f3f3f3;
  font-size: .16rem;
}
/* line 396, ../../../sass/users/users-index.scss */
.g-c-header .creat-grunp-btn {
  float: right;
  padding: 0 .1rem;
  margin-top: .08rem;
  line-height: .27rem;
  background: #2f87de;
  border-radius: .12rem;
  color: #fff;
}

/* line 406, ../../../sass/users/users-index.scss */
.group-box {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  height: .6rem;
  padding: 0 .12rem 0 .16rem;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: .2rem 0 0;
  color: #333;
  font-size: .16rem;
}
/* line 418, ../../../sass/users/users-index.scss */
.group-box:active {
  background: #f8f8f8;
}

/* line 422, ../../../sass/users/users-index.scss */
.g-b-tit {
  display: block;
  -webkit-box-flex: 1;
  box-flex: 1;
}

/* line 427, ../../../sass/users/users-index.scss */
.icon-dorp-right {
  display: block;
  width: 0;
  height: 0;
  border: .08rem solid transparent;
  border-left: .13rem solid #b6b6b6;
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 435, ../../../sass/users/users-index.scss */
.icon-dorp-right.change {
  -webkit-transform-origin: 30% 50%;
  transform-origin: 30% 50%;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 442, ../../../sass/users/users-index.scss */
.group-controll-btns {
  height: .4rem;
  font-size: .08rem;
  text-align: center;
}
/* line 446, ../../../sass/users/users-index.scss */
.group-controll-btns span {
  display: inline-block;
  width: .54rem;
  border-left: 1px solid #ddd;
}
/* line 450, ../../../sass/users/users-index.scss */
.group-controll-btns span:first-child {
  border: none;
}
/* line 453, ../../../sass/users/users-index.scss */
.group-controll-btns span i {
  display: block;
  width: .3rem;
  height: .3rem;
  margin: 0 auto;
  background-size: 100%;
}
/* line 461, ../../../sass/users/users-index.scss */
.group-controll-btns .icon-add {
  background-image: url(../../images/users/icon_group_add_g.png);
}
/* line 464, ../../../sass/users/users-index.scss */
.group-controll-btns .icon-sendmsg {
  background-image: url(../../images/users/icon_group_mess.png);
}
/* line 467, ../../../sass/users/users-index.scss */
.group-controll-btns .icon-delgroup {
  background-image: url(../../images/users/icon_group_dele_g.png);
}
/* line 470, ../../../sass/users/users-index.scss */
.group-controll-btns .icon-callphone {
  background-image: url(../../images/users/icon_user_call.png);
}
/* line 473, ../../../sass/users/users-index.scss */
.group-controll-btns .icon-sendmsg {
  background-image: url(../../images/users/icon_user_mess.png);
}

/* line 478, ../../../sass/users/users-index.scss */
.group-cont .bor-list {
  display: none;
}
/* line 480, ../../../sass/users/users-index.scss */
.group-cont .bor-list .b-l-body {
  width: 100%;
  display: inherit;
  -webkit-transform: translateX(0.4rem);
  transform: translateX(0.4rem);
  -webkit-transition: all .2s;
  transition: all .2s;
}
/* line 487, ../../../sass/users/users-index.scss */
.group-cont .bor-list .b-l-body .del-btn {
  display: block;
  width: .4rem;
  text-align: center;
  background: #f00;
  color: #fff;
  font-size: .12rem;
}

/* 新建群组 begin */
/* line 498, ../../../sass/users/users-index.scss */
.creategroup .layout-body {
  height: 2rem;
  padding: 0;
  /* 重写 bor-list */
}
/* line 502, ../../../sass/users/users-index.scss */
.creategroup .layout-body .bor-list li {
  padding: 0 .04rem 0 .12rem;
}
/* line 504, ../../../sass/users/users-index.scss */
.creategroup .layout-body .bor-list li:last-child {
  border: none;
}

/* 新建群组 end */
