<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>体彩</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <style>
        *{ margin:0; padding:0; text-align:center; line-height: 30px;}
        .logo{
            margin: 40px 0 80px;

        }
    </style>
</head>
<body>
    <div class="logo">
        <img src="../images/tc-logo.png" style="width:100px">
    </div>
    <div class="">
        <p>技术提供：彩米（北京）科技有限公司</p>
        <p>客服邮箱：kf@icaimi.com</p>
        <p>客服电话：400-6666780</p>
    </div>
</body>
</html>