doctype html
html(ng-app="myApp")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no")
    link(rel="stylesheet" href="../../stylesheets/index.css?v218")
    link(rel="stylesheet" href="../../stylesheets/entry/login.css?v218")
    link(rel="stylesheet" href="../../stylesheets/entry/register.css?v218")
    link(rel="stylesheet" href="../../stylesheets/agent-recharge/recharge.css?v218")
    link(rel="stylesheet" href="../../stylesheets/users/users-index.css?v218")
    link(rel="stylesheet" href="../../stylesheets/account/account-index.css?v218" )
    link(rel="stylesheet" href="../../stylesheets/morefn/morefn.css?v218" )
    script(type="text/javascript" src="../javascripts/libs/angular.js")
    script(type="text/javascript" src="../javascripts/controllers/indexCtrl.js")
    script(type="text/javascript" src="../javascripts/services/service.js")
    script(type="text/javascript" src="../javascripts/libs/angular-animate.js")
    script(type="text/javascript" src="../javascripts/libs/ui-route.js")
    script(type="text/javascript" src="../javascripts/app.js")
  body
    block content