
    <header class="user-header" id="content">
        <div class="back"><a href="javascript:history.go(-1);"></a></div>
        <span class="title" id="back"><a class="go2 to1" href="javascript:;">我的账户</a></span>
    </header>
    <section id="wrapper">

        <div class="scroll-box">
            <div class="mynumber-index">
                <div class="user-cont">
                    <section class="user-cont-msg">
                        <em class="user-name">13131430669</em>
                        <span class="user-mynumber">渠道编号</span>
                    </section>
                    <section class="user-money">
                        <ul class="have-line-list">
                            <li>
                                <span>预存款</span>
                                <em class="list-price">1234元</em>
                            </li>
                            <li class="show-line"></li>
                            <li>
                                <span>佣金</span>
                                <em class="list-price">1234元</em>
                            </li>
                            <li class="show-line"></li>
                            <li>
                                <span>红包</span>
                                <em class="list-price">1234元</em>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="controll-panel">
                    <ul class="have-line-list">
                        <li>
                            <a href="./prestore-recharge.html">
                                <i class="panel-icon-recharge"></i>
                                <span class="panel-tit">充值</span>
                            </a>
                        </li>
                        <li class="show-line"></li>
                        <li class="draw-money">
                            <a href="javascript:;">
                                <i class="panel-icon-draw"></i>
                                <span class="panel-tit">提款</span>
                            </a>
                        </li>
                        <li class="show-line"></li>
                        <li>
                            <a href="">
                                <i class="panel-icon-advance"></i>
                                <span class="panel-tit">转预存款</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="user-detail-msg">
                    <div class="model-label-input">
                        <label>真实姓名：</label>
                        <div class="input-box">
                            <input type="text" value="未绑定" disabled="true" ><b class="go-prefect-btn">完善</b>
                        </div>
                    </div>
                    <div class="model-label-input">
                        <label>身份证号：</label>
                        <div class="input-box">
                            <input type="text" value="1345606948484" disabled="true">
                        </div>
                    </div>
                    <div class="model-label-input">
                        <label>手机号码：</label>
                        <div class="input-box">
                            <input type="text" value="132345666" disabled="true" style="border:none">
                        </div>
                    </div>
                </div>
                <div class="change-tips">
                    <p>如需修改个人信息请联系客服：<a href="tel:400-666-780">400-666-780</a></p>
                </div>
                <div class="user-btn">
                    <a href="./changepsd.html" class="model-btn" btn-style="blue">修改密码</a>
                    <a href="" class="model-btn" btn-style="red">退出登录</a>
                </div>
            </div>
        </div>
    </section>
</article>
<section class="mask" style="display:none">
    <div class="layout">
        <h2 class="layout-header">佣金转预存款</h2>
        <div class="layout-body">
            <input type="mynumber" value="100">
        </div>
        <div class="layout-footer" id="div">
            <a href="" class="cancel">取消</a>
            <a href="" class="confirm">确定</a>
        </div>
    </div>
</section>
